<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>

<body>

    <img width="360px" height="200px" src="images/logo-mercado-liebre.svg"alt="">
    <div><h4>Buscar productos, marcas y más.</h4>
        <h4>Compra en cuotas y sin tarjeta de credito</h4></div>
        <ul>
           <a href=""> <li>Ofertas</li> </a>
            <a href=""> <li>Tiendas oficiales</li> </a>
            <a href=""> <li>Vender</li> </a>
            <a href=""> <li>Ayuda</li> </a>
            <p></p>
            <a href=""> <li>Crea tu cuenta</li> </a>
            <a href=""> <li>Ingresa</li> </a>
            <a href=""> <li>Mis compras</li> </a>
        </ul>
    <img width="360px" height="100px" src="images/img-home-banner.jpg"alt="">
    <h2>Basado en tu ultima visita</h2>
    <img width="360px" height="400px" src="images/img-cafetera-moulinex.jpg" alt="">
    <p>$6770</p>
    <p>40% off</p>
    <h4>Cafetera Moulinex Dolce Gusto</h4>
    <img width="360" height="400" src="images/img-macbook-pro-2019.jpg" alt="">
    <p>$230.000</p>
    <p>20% off</p>
    <h4>Macbook Pro 2019</h4>
    <img width="360" height="400" src="images/samsung.jpg" alt="">
    <p>$70.500</p>
    <p>15% off</p>
    <h4>Telefono movil Samsung Galaxy S10</h4>
    <img width="360" height="400" src="images/img-tv-samsung-smart.jpg" alt="">
    <p>$34.000</p>
    <p>5% off</p>
    <h4>Smart TV Samsung 43"</h4>
    <h2>Ofertas</h2>
    <img width="360px" height="400" src="images/img-cafetera-moulinex.jpg" alt="">    
    <p>$6.770</p>
    <p>40% off</p>
    <h4>Cafetera Moulinex Dolce Gusto</h4>
    <img width="360" height="400" src="images/img-macbook-pro-2019.jpg" alt="">
    <p>$230.000</p>
    <p>20% off</p>
    <h4>Macbook Pro 2019</h4>
    <img width="360" height="400" src="images/samsung.jpg" alt="">
    <p>$70.500</p>
    <p>15% off</p>
    <h4>Telefono movil Samsung Galaxy S10</h4>
    <img height="400" width="360" src="images/img-tv-samsung-smart.jpg" alt="">
    <p>$34.000</p>
    <p>5% off</p>
    <h4>Smart TV Samsung 43"</h4>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <h4>Envio gratis desde los $2500</h4>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
    <h4>Seguridad de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! en MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
    <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p> 
</body>
</html>