<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Inicia sesion</title>
</head>
<body>
    <div class="navbar">
    <img width="360px" height="200px" src="images/logo-mercado-liebre.svg"alt="">
    <h4>Buscar productos, marcas y más.</h4>
        <h4>Compra en cuotas y sin tarjeta de credito</h4>
        <ul>
           <a href=""> <li>Ofertas</li> </a>
            <a href=""> <li>Tiendas oficiales</li> </a>
            <a href=""> <li>Vender</li> </a>
            <a href=""> <li>Ayuda</li> </a>
            <p></p>
            <a href="/registro"> <li>Crea tu cuenta</li> </a>
            <a href="/inicia-sesion"> <li>Ingresa</li> </a>
            <a href=""> <li>Mis compras</li> </a>
        </ul>
    </div>

    <div>
        <label for="usuario"></label>
            <input placeholder="Nombre de usuario" type="text" id="usuario" name="usuario">
            <br>
            <br>

            <label for="contraseña"></label>
            <input type="password" placeholder="Elegí tu contraseña" name="contraseña" id="contraseña">
            <input type="submit" value="Enviar"> 
            <br>
            <br>
            <br>
    </div>




    <div class="pie">
        <h3>Pagá con tarjeta o en efectivo</h3>
<p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
<h3>Envio gratis desde los $2500</h3>
<p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
<h3>Seguridad de principio a fin</h3>
<p>¿No te gusta? ¡Devolvelo! en MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p> 
    </div>




</body>
</html>